body{
    margin: 0;
    width: 100vw;
    height: 100lvh;
}
#app{
    width: 100%;
    height: 100%;
}

a{
    text-align: left;
    text-decoration: none;
    color: var(--text);
    font-size: 20px;
}

@media (max-width: 600px) {
    body {
        /* height: calc(100lvh - 80px); */
    }
}